$white: #ffffff;
$grey: #444444;
$black: #000000;
$special-black: #111111;
$special_dark-grey-2: #222222;
$green: #68b738;
$light-grey: #d9d9d9;
$dark-grey: #222222;
$grey-f2: #f2f2f2;
$grey-c4: #c4c4c4;
$grey-ea: #eaeaea;
$grey-e7: #e7e7e7;
$background: #5eaa2f;
$special-grey: #cdcdcd;
$special-grey-3:#dcdcdc;
$grey-menu: #e6e6e6;
$green-hover: #5eaa2f;
$grey-hover: #ebebeb;
$grey-plus: #d3d3d3;
$error: #ff8282;
$radio-hover: #bababa;
$special-grey-2: #666666;
///
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
///
$oswald: "Oswald",
"Arial",
sans-serif;
//
$arial: "Arial",
sans-serif;